body {
    color: #73879C;
    background: #F7F7F7;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
.tile-stats{
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background: #FFF;
    transition: all .3s ease-in-out;
}
.tile-stats .icon {
    width: 20px;
    height: 20px;
    color: #BAB8B8;
    position: absolute;
    right: 53px;
    top: 22px;
    z-index: 1;
}
.tile-stats .icon i {
    margin: 0;
    font-size: 60px;
    line-height: 0;
    vertical-align: bottom;
    padding: 0;
}
.tile-stats .count, .tile-stats h3, .tile-stats p {
    position: relative;
    margin: 0 0 0 10px;
    z-index: 5;
    padding: 0;
}
.tile-stats .count {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.65857;
}
.tile-stats h3 {
    color: #BAB8B8;
}
.tile-stats p {
    margin-top: 5px;
    font-size: 12px;
}
.tile-stats p span {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}
.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
}
.x_panel {
    margin-bottom: 10px;
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
}
.overflow_hidden, .sidebar-widget, .site_title, .tile, .weather-days .col-sm-2, .x_title h2, table.tile_info td p {
    overflow: hidden;
}
.site_title, .x_title h2, table.tile_info td p {
    text-overflow: ellipsis;
}
.x_title h2, table.tile_info td p {
    white-space: nowrap;
    text-overflow: ellipsis;
}
h2 {
    font-size: 16px;
    font-weight: 400;
}
.x_title h2 small {
    margin-left: 10px;
}
.clearfix:after, form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.x_content {
    float: left;
    clear: both;
    margin-top: 5px;
    width: 100%;
}
.x_content .votacion{
    text-align: center;
}
.dashboard-widget-content {
    padding-top: 9px;
}
timeline.widget {
    min-width: 0;
    max-width: inherit;
}
.widget {
    min-width: 250px;
    max-width: 310px;
}
ul.timeline li {
    position: relative;
    clear: both;
}
.timeline.widget .block {
    margin-left: 5px;
}
.timeline .block {
    margin: 0 0 0 105px;
    border-left: 3px solid #e8e8e8;
    overflow: visible;
    padding: 10px 15px;
}
.timeline h2.title {
    position: relative;
    font-size: 16px;
    margin: 0;
}
.timeline h2.title:before {
    content: "";
    position: absolute;
    left: -23px;
    top: 3px;
    display: block;
    width: 14px;
    height: 14px;
    border: 3px solid #d2d3d2;
    border-radius: 14px;
    background: #f9f9f9;
}
.timeline .byline {
    padding: .25em 0;
}
.byline {
    font-size: .9375em;
    line-height: 1.3;
    color: #aab6aa;
}
.byline, .view p {
    font-style: italic;
}
.byline, .main_menu .fa {
    -webkit-font-smoothing: antialiased;
}
p {
    margin: 0 0 10px;
}
a {
    color: #5A738E;
}
.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 18px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.Active-Row-Participantes {
    background-color: #F0FAF8 !important;
    color: #066552 !important;
}
.Row-Gold-Participantes {
    background-color: #FFFBDC !important;
    color: #BF9000 !important;
}
.Row-Silver-Participantes {
    background-color: #EEF9FF !important;
    color: #6E7D82 !important;
}
.Row-Bronze-Participantes {
    background-color: #FFE5D7 !important;
    color: #B45F06 !important;
}
.Gold-Position {
    color: #BF9000 !important;
}
.Silver-Position {
    color: #6E7D82 !important;
}
.Bronze-Position {
    color: #B45F06 !important;
}
.main-colums-left {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user-info .avatar {
    width: 100px;
    border-radius: 100%;
    margin: 20px
}
.voto-pendiente {
    color: #6c757d !important;
    border: 1px solid transparent;
    cursor: pointer;
}
.voto-pendiente:hover {
    border: 1px solid #6c757d;
}
.voto-positivo {
    color: #28a745 !important;
    border: 1px solid transparent;
    cursor: pointer;
}
.voto-positivo:hover {
    border: 1px solid #28a745;
}
.voto-negativo {
    color: #dc3545 !important;
    border: 1px solid transparent;
    cursor: pointer;
}
.voto-negativo:hover {
    border: 1px solid #dc3545;
}
.connecting-server {
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    height:auto;
    z-index: 0;
    text-align:center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .25rem;
}
.connecting-server span {
    display: inline-flex;
    align-items: center;
}
.error-alert {
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    height:auto;
    z-index: 0;
    text-align:center;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: .25rem;
}
.modal-body-text {
    font-size: 15px;
}
.openModalReto {
    cursor: pointer;
    text-decoration: none;
}
.FB-share {
    width: 80px;
}
.btn-group-sm>.btn, .btn-sm {
    font-size: 0.75rem !important;
}
.move-logout-right {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}


.card-container.card {
    max-width: 750px;
    padding: 40px 40px;
}

/*
* Card component
*/
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    /* -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; */
}

.containerYoutube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.videoYoutube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.InfoWcontent {
    width: 290px;
    max-height: 550px;
}
.InfoWcontent p {
    font-size: 14px;
}
.sinVotar {
    font-size: 11px;
    font-style: italic;
    color: #dc1414;
    padding-top: 16px;
}
.tooltip-inner {
    background-color: #fff;
    color: #73879C;
    min-width: 325px;
    border: 1px solid #73879C;
    padding: 15px;
    text-align: left;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #73879C !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #73879C !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #73879C !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #73879C !important;
}



.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/*
* Card component
*/
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    /* -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; */
}

/*
* Form styles
*/
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.InfoWimage, .containerYoutube {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
}
.chatContainer {
    position: fixed;
    right:10px;
    top: 20px;
    z-index: 6;
    color: #107ee1;
    background-color: #107ee1;
    cursor: pointer;
}
.shadowChat {
    -webkit-box-shadow: 1px 4px 5px 1px rgba(150,150,150,1);
    -moz-box-shadow: 1px 4px 5px 1px rgba(150,150,150,1);
    box-shadow: 1px 4px 5px 1px rgba(150,150,150,1);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px; 
    -khtml-border-radius: 30px;
}
.modeless{
    top:60px;
    right:10px;
    bottom:auto;
    left:auto;
    z-index: 5;
}
.chatContainerTexts {
    max-height: 400px;
    max-width: 350px;
    overflow-y: auto;
}
.chatContainerTexts ul {
    list-style-type: none;
    padding: 10px 10px 0px 10px;
    margin: 0;
}
.BtnChat {
    padding: 0 10px 10px 10px;
}

.chatContainerTexts li {
    padding: 10px;
}

.chatTit {
    display: block;
    font-weight: bold;
    font-size: 12px;
}
.chatMsg {
    display: block;
    font-size: 12px;
}
.chatTime {
    font-size: 10px;
    color: #cacfd4;
}
.chatLine {
    border-top: 1px solid #E4E4E4;
}
#enviaChat i {
    color: #107ee1;
}
.msgSinLeer {
    position: absolute;
    right:10px;
    top: 15px;    
    background-color: red;
    color: #fff;
    width: 25px;
    height: 18px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -khtml-border-radius: 15px;
    z-index: 7;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: bold;
    display: none;  
}
